## 1. Import libraries

In [1]:
import pandas as pd
from IPython.display import display

## 2. Import Datasets

In [2]:
training_set_labels = pd.read_csv(r'.\Data\training_set_labels.csv')
training_set_features = pd.read_csv(r'.\Data\training_set_features.csv')
test_set_features = pd.read_csv(r'.\Data\test_set_features.csv')

print ('Training Set Labels:')
display (training_set_labels.head())

print ('Training Set Features:')
display (training_set_features.head())

print ('Test Set Features:')
display (test_set_features.head())

Training Set Labels:

   respondent_id  h1n1_vaccine  seasonal_vaccine
0              0             0                 0
1              1             0                 1
2              2             0                 0
3              3             0                 1
4              4             0                 0

Training Set Features:

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

Test Set Features:

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird

#### Merge datasets

Add the training_set_labels to both the test_set_features and training_set_features dataframes.

In [3]:
# Merge training_set_labels.csv to training_set_features
training_set_df = pd.merge(training_set_labels, training_set_features, on='respondent_id', how='inner')

# Add training_set_labels to test_set_features
test_set_df = pd.concat([training_set_labels, test_set_features], axis=1)

## 3. Exploratory data analysis

In [4]:
training_set_df.shape

(26707, 38)

In [5]:
training_set_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   h1n1_vaccine                 26707 non-null  int64
 2   seasonal_vaccine             26707 non-null  int64
 3   h1n1_concern                 26615 non-null  float64
 4   h1n1_knowledge               26591 non-null  float64
 5   behavioral_antiviral_meds    26636 non-null  float64
 6   behavioral_avoidance         26499 non-null  float64
 7   behavioral_face_mask         26688 non-null  float64
 8   behavioral_wash_hands        26665 non-null  float64
 9   behavioral_large_gatherings  26620 non-null  float64
 10  behavioral_outside_home      26625 non-null  float64
 11  behavioral_touch_face        26579 non-null  float64
 12  doctor_recc_h1n1             24547 non-null  float64
 13  doctor_recc_seasonal         24547 non-null  float64
 14  chronic_med_condition        25736 non-null  float64
 15  child_under_6_months         25887 non-null  float64
 16  health_worker                25903 non-null  float64
 17  health_insurance             14433 non-null  float64
 18  opinion_h1n1_vacc_effective  26316 non-null  float64
 19  opinion_h1n1_risk            26319 non-null  float64
 20  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 21  opinion_seas_vacc_effective  26245 non-null  float64
 22  opinion_seas_risk            26193 non-null  float64
 23  opinion_seas_sick_from_vacc  26170 non-null  float64
 24  age_group                    26707 non-null  object
 25  education                    25300 non-null  object
 26  race                         26707 non-null  object
 27  sex                          26707 non-null  object
 28  income_poverty               22284 non-null  object
 29  marital_status               25299 non-null  object
 30  rent_or_own                  24665 non-null  object
 31  employment_status            25244 non-null  object
 32  hhs_geo_region               26707 non-null  object
 33  census_msa                   26707 non-null  object
 34  household_adults             26458 non-null  float64
 35  household_children           26458 non-null  float64
 36  employment_industry          13377 non-null  object
 37  employment_occupation        13237 non-null  object
dtypes: float64(23), int64(3), object(12)
memory usage: 7.7+ MB

#### Categorical variables

In [6]:
# Find categorical variables
categorical = [var for var in training_set_df.columns if training_set_df[var].dtype == 'O']

training_set_df[categorical].columns

Index(['age_group', 'education', 'race', 'sex', 'income_poverty',
       'marital_status', 'rent_or_own', 'employment_status', 'hhs_geo_region',
       'census_msa', 'employment_industry', 'employment_occupation'],
      dtype='object')

training_set_df has 12 categorical variables:

    - age_group
    - education
    - race
    - sex
    - income_poverty
    - marital_status
    - rent_own
    - employment_status
    - hhs_geo_region
    - census_msa
    - employment_industry
    - employment_occupation

Drop the following columns

    - employment_industry
    - employment_occupation
    - rent_or_own

In [7]:
training_set_df = training_set_df.drop(columns=['employment_industry', 'employment_occupation', 'rent_or_own'])

categorical = [var for var in training_set_df.columns if training_set_df[var].dtype == 'O']

training_set_df[categorical].columns

Index(['age_group', 'education', 'race', 'sex', 'income_poverty',
       'marital_status', 'employment_status', 'hhs_geo_region', 'census_msa'],
      dtype='object')

In [8]:
training_set_df[categorical].isna().sum()

age_group               0
education            1407
race                    0
sex                     0
income_poverty       4423
marital_status       1408
employment_status    1463
hhs_geo_region          0
census_msa              0
dtype: int64

Check for cardiality of the categorical variables ...

In [9]:
training_set_df[categorical].nunique()

age_group             5
education             4
race                  4
sex                   2
income_poverty        3
marital_status        2
employment_status     3
hhs_geo_region       10
census_msa            3
dtype: int64

## 4. One Hot Encoding 

Start OHE on categorical columns with null values.

In [10]:
# OHE for all categorical columns, add additional columns for missing data
training_set_categorical = pd.get_dummies(training_set_df[categorical], drop_first= True, dummy_na= True, dtype= int)

# Drop columns where nans=0
training_set_categorical = training_set_categorical.loc[:, (training_set_categorical != 0).any(axis=0)]

training_set_categorical.head()

,age_group_35 - 44 Years,age_group_45 - 54 Years,age_group_55 - 64 Years,age_group_65+ Years,education_< 12 Years,education_College Graduate,education_Some College,education_nan,race_Hispanic,race_Other or Multiple,...,hhs_geo_region_dqpwygqj,hhs_geo_region_fpwskwrf,hhs_geo_region_kbazzjca,hhs_geo_region_lrircsnp,hhs_geo_region_lzgpxyit,hhs_geo_region_mlyzmhmf,hhs_geo_region_oxchjgsf,hhs_geo_region_qufhixun,"census_msa_MSA, Principle City",census_msa_Non-MSA
0,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [11]:
training_set_categorical.shape

(26707, 31)

In [12]:
training_set_categorical.isna().sum()

age_group_35 - 44 Years                 0
age_group_45 - 54 Years                 0
age_group_55 - 64 Years                 0
age_group_65+ Years                     0
education_< 12 Years                    0
education_College Graduate              0
education_Some College                  0
education_nan                           0
race_Hispanic                           0
race_Other or Multiple                  0
race_White                              0
sex_Male                                0
income_poverty_> $75,000                0
income_poverty_Below Poverty            0
income_poverty_nan                      0
marital_status_Not Married              0
marital_status_nan                      0
employment_status_Not in Labor Force    0
employment_status_Unemployed            0
employment_status_nan                   0
hhs_geo_region_bhuqouqj                 0
hhs_geo_region_dqpwygqj                 0
hhs_geo_region_fpwskwrf                 0
hhs_geo_region_kbazzjca                 0
hhs_geo_region_lrircsnp                 0
hhs_geo_region_lzgpxyit                 0
hhs_geo_region_mlyzmhmf                 0
hhs_geo_region_oxchjgsf                 0
hhs_geo_region_qufhixun                 0
census_msa_MSA, Principle City          0
census_msa_Non-MSA                      0
dtype: int64

#### Numerical variables

In [13]:
training_set_numeric = training_set_df.select_dtypes(include= 'number')
training_set_numeric.columns

Index(['respondent_id', 'h1n1_vaccine', 'seasonal_vaccine', 'h1n1_concern',
       'h1n1_knowledge', 'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_h1n1', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_h1n1_vacc_effective', 'opinion_h1n1_risk',
       'opinion_h1n1_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'household_adults',
       'household_children'],
      dtype='object')

In [14]:
training_set_numeric.isna().sum()

respondent_id                      0
h1n1_vaccine                       0
seasonal_vaccine                   0
h1n1_concern                      92
h1n1_knowledge                   116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_h1n1                2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_h1n1_vacc_effective      391
opinion_h1n1_risk                388
opinion_h1n1_sick_from_vacc      395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
household_adults                 249
household_children               249
dtype: int64

To reduce the number of columns during OHE of numeric variables, in columns with null values < 200, fill na with the modal value.

In [15]:
# Identify columns with na < 200
def fill_na_less_200(column):
    if column.isna().sum() < 200:
        modal_value = column.mode()[0]
        return column.fillna(modal_value)
    return column

training_set_numeric = training_set_numeric.apply(fill_na_less_200)
training_set_numeric.isna().sum()

respondent_id                      0
h1n1_vaccine                       0
seasonal_vaccine                   0
h1n1_concern                       0
h1n1_knowledge                     0
behavioral_antiviral_meds          0
behavioral_avoidance             208
behavioral_face_mask               0
behavioral_wash_hands              0
behavioral_large_gatherings        0
behavioral_outside_home            0
behavioral_touch_face              0
doctor_recc_h1n1                2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_h1n1_vacc_effective      391
opinion_h1n1_risk                388
opinion_h1n1_sick_from_vacc      395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
household_adults                 249
household_children               249
dtype: int64

OHE on numeric variables

In [16]:
# Drop id column
training_set_numeric = training_set_numeric.drop(columns=['respondent_id'])

In [17]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

training_set_numeric = training_set_numeric.astype(str).fillna('NA')

ohe = OneHotEncoder(drop= 'first', sparse_output= False, dtype= int)

training_set_numeric = training_set_numeric.fillna('NA')
columns_nan = training_set_numeric.columns[(training_set_numeric == 0).all()]
columns_nan.nunique()

ohe.fit(training_set_numeric)
training_set_numeric_encoded = ohe.transform(training_set_numeric)

training_set_numeric = pd.DataFrame(training_set_numeric_encoded, columns=ohe.get_feature_names_out(training_set_numeric.columns))

training_set_numeric.nunique()

h1n1_vaccine_1            2
seasonal_vaccine_1        2
h1n1_concern_1.0          2
h1n1_concern_2.0          2
h1n1_concern_3.0          2
                         ..
household_adults_nan      2
household_children_1.0    2
household_children_2.0    2
household_children_3.0    2
household_children_nan    2
Length: 65, dtype: int64

In [18]:

training_set_df = pd.concat([training_set_numeric, training_set_categorical], axis= 1)
training_set_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 96 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   h1n1_vaccine_1                        26707 non-null  int32
 1   seasonal_vaccine_1                    26707 non-null  int32
 2   h1n1_concern_1.0                      26707 non-null  int32
 3   h1n1_concern_2.0                      26707 non-null  int32
 4   h1n1_concern_3.0                      26707 non-null  int32
 5   h1n1_knowledge_1.0                    26707 non-null  int32
 6   h1n1_knowledge_2.0                    26707 non-null  int32
 7   behavioral_antiviral_meds_1.0         26707 non-null  int32
 8   behavioral_avoidance_1.0              26707 non-null  int32
 9   behavioral_avoidance_nan              26707 non-null  int32
 10  behavioral_face_mask_1.0              26707 non-null  int32
 11  behavioral_wash_hands_1.0             26707 non-null  int32
 12  behavioral_large_gatherings_1.0       26707 non-null  int32
 13  behavioral_outside_home_1.0           26707 non-null  int32
 14  behavioral_touch_face_1.0             26707 non-null  int32
 15  doctor_recc_h1n1_1.0                  26707 non-null  int32
 16  doctor_recc_h1n1_nan                  26707 non-null  int32
 17  doctor_recc_seasonal_1.0              26707 non-null  int32
 18  doctor_recc_seasonal_nan              26707 non-null  int32
 19  chronic_med_condition_1.0             26707 non-null  int32
 20  chronic_med_condition_nan             26707 non-null  int32
 21  child_under_6_months_1.0              26707 non-null  int32
 22  child_under_6_months_nan              26707 non-null  int32
 23  health_worker_1.0                     26707 non-null  int32
 24  health_worker_nan                     26707 non-null  int32
 25  health_insurance_1.0                  26707 non-null  int32
 26  health_insurance_nan                  26707 non-null  int32
 27  opinion_h1n1_vacc_effective_2.0       26707 non-null  int32
 28  opinion_h1n1_vacc_effective_3.0       26707 non-null  int32
 29  opinion_h1n1_vacc_effective_4.0       26707 non-null  int32
 30  opinion_h1n1_vacc_effective_5.0       26707 non-null  int32
 31  opinion_h1n1_vacc_effective_nan       26707 non-null  int32
 32  opinion_h1n1_risk_2.0                 26707 non-null  int32
 33  opinion_h1n1_risk_3.0                 26707 non-null  int32
 34  opinion_h1n1_risk_4.0                 26707 non-null  int32
 35  opinion_h1n1_risk_5.0                 26707 non-null  int32
 36  opinion_h1n1_risk_nan                 26707 non-null  int32
 37  opinion_h1n1_sick_from_vacc_2.0       26707 non-null  int32
 38  opinion_h1n1_sick_from_vacc_3.0       26707 non-null  int32
 39  opinion_h1n1_sick_from_vacc_4.0       26707 non-null  int32
 40  opinion_h1n1_sick_from_vacc_5.0       26707 non-null  int32
 41  opinion_h1n1_sick_from_vacc_nan       26707 non-null  int32
 42  opinion_seas_vacc_effective_2.0       26707 non-null  int32
 43  opinion_seas_vacc_effective_3.0       26707 non-null  int32
 44  opinion_seas_vacc_effective_4.0       26707 non-null  int32
 45  opinion_seas_vacc_effective_5.0       26707 non-null  int32
 46  opinion_seas_vacc_effective_nan       26707 non-null  int32
 47  opinion_seas_risk_2.0                 26707 non-null  int32
 48  opinion_seas_risk_3.0                 26707 non-null  int32
 49  opinion_seas_risk_4.0                 26707 non-null  int32
 50  opinion_seas_risk_5.0                 26707 non-null  int32
 51  opinion_seas_risk_nan                 26707 non-null  int32
 52  opinion_seas_sick_from_vacc_2.0       26707 non-null  int32
 53  opinion_seas_sick_from_vacc_3.0       26707 non-null  int32
 54  opinion_seas_sick_from_vacc_4.0       26707 non-null  int32
 55  opinion_seas_sick_from_vacc_5.0       26707 non-null  int32
 56  opinion_seas_sick_from_vacc_nan       26707 non-null  int32
 57  household_adults_1.0                  26707 non-null  int32
 58  household_adults_2.0                  26707 non-null  int32
 59  household_adults_3.0                  26707 non-null  int32
 60  household_adults_nan                  26707 non-null  int32
 61  household_children_1.0                26707 non-null  int32
 62  household_children_2.0                26707 non-null  int32
 63  household_children_3.0                26707 non-null  int32
 64  household_children_nan                26707 non-null  int32
 65  age_group_35 - 44 Years               26707 non-null  int32
 66  age_group_45 - 54 Years               26707 non-null  int32
 67  age_group_55 - 64 Years               26707 non-null  int32
 68  age_group_65+ Years                   26707 non-null  int32
 69  education_< 12 Years                  26707 non-null  int32
 70  education_College Graduate            26707 non-null  int32
 71  education_Some College                26707 non-null  int32
 72  education_nan                         26707 non-null  int32
 73  race_Hispanic                         26707 non-null  int32
 74  race_Other or Multiple                26707 non-null  int32
 75  race_White                            26707 non-null  int32
 76  sex_Male                              26707 non-null  int32
 77  income_poverty_> $75,000              26707 non-null  int32
 78  income_poverty_Below Poverty          26707 non-null  int32
 79  income_poverty_nan                    26707 non-null  int32
 80  marital_status_Not Married            26707 non-null  int32
 81  marital_status_nan                    26707 non-null  int32
 82  employment_status_Not in Labor Force  26707 non-null  int32
 83  employment_status_Unemployed          26707 non-null  int32
 84  employment_status_nan                 26707 non-null  int32
 85  hhs_geo_region_bhuqouqj               26707 non-null  int32
 86  hhs_geo_region_dqpwygqj               26707 non-null  int32
 87  hhs_geo_region_fpwskwrf               26707 non-null  int32
 88  hhs_geo_region_kbazzjca               26707 non-null  int32
 89  hhs_geo_region_lrircsnp               26707 non-null  int32
 90  hhs_geo_region_lzgpxyit               26707 non-null  int32
 91  hhs_geo_region_mlyzmhmf               26707 non-null  int32
 92  hhs_geo_region_oxchjgsf               26707 non-null  int32
 93  hhs_geo_region_qufhixun               26707 non-null  int32
 94  census_msa_MSA, Principle City        26707 non-null  int32
 95  census_msa_Non-MSA                    26707 non-null  int32
dtypes: int32(96)
memory usage: 9.8 MB

Data preparation

In [19]:
training_set_df.shape

(26707, 96)

In [20]:
correlations = training_set_df.drop('h1n1_vaccine_1', axis=1).corr().sum() / 95
correlations

from IPython.display import display, HTML

display(HTML(correlations.to_frame().to_html()))

In [25]:
from sklearn.model_selection import train_test_split

# Define X and y
y = training_set_df['h1n1_vaccine_1']
X = training_set_df[['h1n1_concern_1.0', 'hhs_geo_region_bhuqouqj']]


# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 42)

In [26]:
import statsmodels.api as sm

X = sm.add_constant(X)

logit_model = sm.Logit(y, X)
result = logit_model.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.514177
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:         h1n1_vaccine_1   No. Observations:                26707
Model:                          Logit   Df Residuals:                    26704
Method:                           MLE   Df Model:                            2
Date:                Wed, 28 Aug 2024   Pseudo R-squ.:                0.005825
Time:                        17:31:54   Log-Likelihood:                -13732.
converged:                       True   LL-Null:                       -13813.
Covariance Type:            nonrobust   LLR p-value:                 1.146e-35
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                      -1.2386      0.018    -67.636      0.000      -1.275      -1.203
h1n1_concern_1.0           -0.3708      0.034    -10.844      0.000      -0.438      -0.304
hhs_geo_region_bhuqouqj     0.2905      0.046      6.341      0.000       0.201       0.380
===========================================================================================
"""

plot a graph
Check for statistical significance to decide on the columns to drop